%table#sorttable.table.table-striped
  %thead
    %th Content
    %th 2 Day
    %th 7 Day
    %th 30 Day

  %tbody
    - @nodes.each do |node|
      %tr
        %td 
          ="#{node.title}" 
          %br 
          %small= "by #{node.author.name} on #{node.pub_date.strftime("%B %d")}"
        %td= node.views_2
        %td= node.views_7
        %td= node.views_30

 


:javascript
  $(document).ready(function() {$("#sorttable").tablesorter();}); 
    
