- @title = @node.title
#show
  .node
    %h1{:style => "font-size: 24px;"}= @node.title
    %p= "by #{@node.author.name}"
    
    %form{:name => "taxonomize", :action => "/node/fix/#{@node.id}", :method => "post"}
      %input{:type => "hidden", :name=> "_method", :value => "put"}
    
      .row
        .span4
          %h4= "Funnel"
          %label{:class => "radio"}
            - %w{ToFu MoFu Brand Retention No\ Funnel}.each do |term|
              - if @node.taxo_funnel == term
                %input{:type => "radio", :name => "reclass_funnel", :value => "update_#{term}", :checked => true }
              - else
                %input{:type => "radio", :name => "reclass_funnel", :value => "update_#{term}"}
              #{term}
              %br
           

        .span4
          %h4= "Theme"
          %label{:class => "radio"}
            - %w{Cloud\ Automation Continuous\ Delivery DevOps No\ Theme}.each do |term|
              - if @node.taxo_theme == term
                %input{:type => "radio", :name => "reclass_theme", :value => "update_#{term}", :checked => true }
              - else
                %input{:type => "radio", :name => "reclass_theme", :value => "update_#{term}"}
              #{term}
              %br

        .span4
          %h4= "Source"
          %label{:class => "radio"}
            - %w{Contributed Employee Staff\ Writer Paid}.each do |term|
              - if @node.taxo_source == term
                %input{:type => "radio", :name => "reclass_source", :value => "update_#{term}", :checked => true }
              - else
                %input{:type => "radio", :name => "reclass_source", :value => "update_#{term}"}
              #{term}
              %br

          %br    
          .btn-group
            %button.btn= "Save"
            %a.btn{:href => "/node/incomplete"}
              ="Skip"

    .row
      .span4
        #preview_area{:style => "margin-top:2em;"}
          #preview_text.span8.well
            %p{:style => "text-align:center;"}
              %img{:src => "/images/ajax-loader.gif"}
        
:javascript
  $( document ).ready(function() {
  $("#preview_text").load("/node/preview/#{@node.id}");
  });